@import './base.css';
@import './variables.css';
@import './fonts.css';

#app {
  width: 100%;
  margin: 0;
  padding: 0;
}

@media (min-width: 1024px) {
  body {
    display: block;
  }

  #app {
    display: block;
    width: 100%;
    padding: 0;
  }
}
